<div class="col-10 offset-1">

  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Yonttee">Carriane</a>. A web developer who is on a mission to becoming an awesome full stack developer!
  </p>

  </br />

  <p>Carriane has learned so much in a short amount of time and she would be happy to teach others the skills she has learned so far!
  </p>

  <p> If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
       <%= image_tag 'me.jpg' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Carriane Linzer</h2>
      <br />
      <p>
       Future Carriane Linzer will be a great developer and an awesome teacher. 
       Thanks for reading my page and using my web application!!!
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />